
<div class="contenedor-juego" >
    <div class="juego-titulo"><h2>JUEGO DE GATO</h2></div>
    <br>
    <div id = "juego-info" class="juego-info"></div>
    <div class="juego-cuadricula" >

        <div class="cuadro"></div>
        <div class="cuadro"></div>
        <div class="cuadro"></div>
        <div class="cuadro"></div>
        <div class="cuadro"></div>
        <div class="cuadro"></div>
        <div class="cuadro"></div>
        <div class="cuadro"></div>
        <div class="cuadro"></div>

    </div>
     <br>
     
    <div id ="juego-boton" class="juego-boton">Volver a jugar</div>
</div>
<script src="/gato.js"></script>
<div class="pie">
    <footer class="footer">
      <p style="color: white"  >TECNOLOGICO DE ESTUDIOS SUPERIORES DE ECATAPEC.</p>
      <p style="color: white"  >ING. EN SISTEMAS COMPUTACIONALES </p>
    </footer>
    </div>  
