<div class="row row-cols-1 row-cols-md-3 g-4 m-3">

    <div class="col">
        <div class="card h-100">
            <img src="./assets/giphy.gif" class="card-img-top" alt="...">
            <div class="card-body" routerLinkActive="active">
                <button type="button" class="btn btn-outline-dark" [routerLink]="['writingame']"> Escritura </button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="./assets/catoperation.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-dark"> Operaciones </button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="./assets/giphy.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-dark"> Memorama </button>
            </div>
        </div>
    </div>

    <div class="col1">
        <div class="card h-100">
            <img src="./assets/giphy.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-dark"> Ordenamiento </button>
            </div>
        </div>
    </div>

    <div class="col1">
        <div class="card h-100">
            <img src="./assets/giphy.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <button type="button" class="btn btn-outline-dark"> Identificar Palabras </button>
            </div>
        </div>
    </div>

</div>