<div>
  <app-menu></app-menu>
  </div>
<br>
<br>
<div class="example-dropzone" ondragover="onDragOver(event);" ondrop="onDrop(event);">
  </div>
  <br>
  <div class="example-origin">
    
              
        <div id="draggable-1" class="example-draggable" draggable="true" ondragstart="onDragStart(event);">
          <img src="assets/numeros/1.jpeg" width="80" height="80">
      </div>

      <div id="draggable-2" class="example-draggable" draggable="true" ondragstart="onDragStart(event);">
        <img src="assets/numeros/2.jpeg" width="80" height="80">
      </div>

      <div  id="draggable-3" class="example-draggable" draggable="true" ondragstart="onDragStart(event);">
        <img src="assets/numeros/3.jpeg" width="80" height="80">
      </div>

      <div  id="draggable-4" class="example-draggable"  draggable="true" ondragstart="onDragStart(event);">
        <img src="assets/numeros/4.jpeg" width="80" height="80">
       </div>

       <div id="draggable-5" class="example-draggable" draggable="true" ondragstart="onDragStart(event);" >
        <img src="assets/numeros/5.jpeg" width="80" height="80">
       </div>
  </div>
    <script src="orden.js"></script>


    <div class="reloj">
      <h1><time>00:00:00</time></h1> 
      <button id="strt">start</button>
    <button id="stp">stop</button>
    <button id="rst">reset</button>
      </div>




    
  <div class="pie-pagina">
    <div class="pie">
      <footer class="footer">
        
      </footer>
      </div>  
  </div>
    


