<br>
<br>
<div class="example-dropzone" ondragover="onDragOver(event);" ondrop="onDrop(event);">
    
  </div>
  <br>
  


    <div class="example-origin">
        <br>
              
      <div id="draggable-1" class="example-draggable" draggable="true"  ondragstart="onDragStart(event);">
        <img src="assets/numeros/1.jpeg" width="100" height="100">
      </div>
      <div id="draggable-2" class="example-draggable1" draggable="true" ondragstart="onDragStart(event);">
        <img src="assets/numeros/2.jpeg" width="100" height="100">
      </div>
      <div id="draggable-3" class="example-draggable" draggable="true" ondragstart="onDragStart(event);">
        <img src="assets/numeros/3.jpeg" width="100" height="100">
      </div>
      <div id="draggable-4" class="example-draggable" draggable="true" ondragstart="onDragStart(event);">
        <img src="assets/numeros/4.jpeg" width="100" height="100">
      </div>
      <div id="draggable-5" class="example-draggable" draggable="true" ondragstart="onDragStart(event);">
        <img src="assets/numeros/5.jpeg" width="100" height="100" >
      </div>
      <div id="draggable-6" class="example-draggable" draggable="true" ondragstart="onDragStart(event);">
        <img src="assets/numeros/6.jpeg" width="100" height="100" >
      </div>
      

    </div>
  
    

  
  
    
    <script src="orden.js"></script>


