<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto</title>
</head>
<body>
    <div class="centrar" id="juego">
      <table>
        <tr>
          <td id="0" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="1" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="2" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="3" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        </tr>
        <tr>
          <td id="4" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="5" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="6" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="7" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        </tr>
        <tr>
          <td id="8" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="9" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="10" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="11" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        </tr>
        <tr>
          <td id="12" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="13" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="14" class="caja" onclick="girarCarta()" data-valor="valor"></td>
          <td id="15" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        </tr>
        </table>

    </div>    
    <div clas="letra" id="mensaje"> </div>
  <div class="centrar">
    <input type="button" class="btn btn-info" value="Empezar" onclick="resetearJuego()" /> 
  </div>
</body>
</html>