<nav class="navbar navbar-light" style="background-color: #0a1af598;">
    <a class="navbar-brand">
        <img src="./assets/3914134.svg" width="80" height="42" class="d-inline-block align-top"> JUEGOS PARA NIÑOS !!
    </a>
    <form class="form-inline">
        <button class="btn btn-outline-success" type="button" [routerLink]="['dash']">INICIAR SESION </button>
    </form>
    <form class="form-inline2">
        <button class="btn btn-outline-success" type="button">INSCRIBIRTE</button>
    </form>
</nav>