<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#9400D3;">
    <a class="navbar-brand fs-2" style="text-align: center;" >
    
        <a><img id="imgNav" src="./assets/3914134.svg" width="42" height="42" class="d-inline-block align-top"></a>
         ¡¡ JUEGOS PARA NIÑOS !!
    </a>
    
    <form class="form-inline">
        <button class="btn btn-outline-success" type="button" [routerLink]="['login']">INICIAR SESION </button>
    </form>
    <form class="form-inline2">
        <button class="btn btn-outline-success" type="button" [routerLink]="['dash']">INSCRIBIRTE</button>
    </form>
    <form class="form-inline3">
        <button class="btn btn-outline-success" type="button" [routerLink]="['login']">Cerrar Sesion</button>
        <button class="btn btn-outline-success" type="button" [routerLink]="['dash']">INICIAR SESION </button>
    </form>
    <form class="form-inline2">
        <button class="btn btn-outline-success" type="button">INSCRIBIRTEE</button>
    </form>
</nav>
