* {
    font-family: 'Mochiy Pop P One', sans-serif;
}

.navbar-brand {
    position: relative;
    top: 10px;
    left: 0px;
}

.niños {
    position: absolute;
    top: 11%;
    left: 25%;
    font-size: 28px;
}

.form-inline {
    position: absolute;
    top: 20%;
    left: 85%;
    font-size: 30px;
}

.btn-outline-success {
    color: #000000;
}

.form-inline2 {
    position: absolute;
    top: 20%;
    left: 65%;
    font-size: 30px;
}

.form-inline3 {
    position: absolute;
    top: 20%;
    left: 75%;
    font-size: 30px;
}

.pie {
    position: relative;
    top: 590px;
    left: 40px;
}

.footer {
    height: 4rem;
    background-color: #000000;
    text-align: center;
}

#imgNav:hover{
    background-color: #4a55f098;
}
