* {
    font-family: 'Mochiy Pop P One', sans-serif;
}

.navbar-brand {
    position: relative;
    top: 0px;
    left: 0px;
}

.niños {
    position: absolute;
    top: 11%;
    left: 25%;
    font-size: 28px;
}

.form-inline {
    position: absolute;
    top: 9%;
    left: 87%;
    font-size: 30px;
}

.btn-outline-success {
    color: #000000;
}

.form-inline2 {
    position: absolute;
    top: 9%;
    left: 75%;
    font-size: 30px;
}

.pie {
    position: relative;
    top: 590px;
    left: 40px;
}

.footer {
    height: 4rem;
    background-color: #000000;
    text-align: center;
}