<p>SUM</p>
<br>
<br>
<br>
<br>

<div id="mensaje">x</div>
<div id="juego">
    <input id="btn" value="COMIENZA" type="submit" onclick="generarsum()">
    <div id="contentJ">
        <div id="operacion"> </div>
        <div id="selec">        </div>
        <div id="resul">  </div>
    </div>
    <div id="contentJ">
        <div id="boton"> </div> 
    </div>
</div>

    
    <div class="pie">
        <footer class="footer">
          <p style="color: white"  >TECNOLOGICO DE ESTUDIOS SUPERIORES DE ECATAPEC.</p>
          <p style="color: rgb(255, 255, 255)"  >ING. EN SISTEMAS COMPUTACIONALES </p>
        </footer>
    </div>
    
<script src="/json.js"></script> 


    