<div>
  <app-menu></app-menu>
  </div>

  <div class="reloj">
    <h1><time>00:00:00</time></h1> 
    <button id="strt">start</button>
  <button id="stp">stop</button>
  <button id="rst">reset</button>
    </div>
    

<div class="centrar" id="juego">
    <table>
      <tr>
        <td id="0" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        <td id="1" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        <td id="2" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        <td id="3" class="caja" onclick="girarCarta()" data-valor="valor"></td>
      </tr>
      <tr>
        <td id="4" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        <td id="5" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        <td id="6" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        <td id="7" class="caja" onclick="girarCarta()" data-valor="valor"></td>
      </tr>
      <tr>
        <td id="8" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        <td id="9" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        <td id="10" class="caja" onclick="girarCarta()" data-valor="valor"></td>
        <td id="11" class="caja" onclick="girarCarta()" data-valor="valor"></td>
      </tr>
      
      </table>

  </div>    
  <div clas="letra" id="mensaje"> </div>
<div class="centrar">
  <input type="button" class="btn btn-outline-success" value="Empezar" onclick="resetearJuego()" /> 
</div>

<div class="pie">
  <footer class="footer">
    <p style="color: white"  >TECNOLOGICO DE ESTUDIOS SUPERIORES DE ECATAPEC.</p>
    <p style="color: white"  >ING. EN SISTEMAS COMPUTACIONALES </p>
  </footer>
  </div>  
