<br>
<h1 align="center"> ¡ DIVIERTETE !</h1>
<div>
<app-menu></app-menu>
</div>

<div class="texto-encima1">INSTRUCCIONES</div>
<div class="instruccion">
<img src="assets/gif1.gif" width="400" height="400">
</div>


<form class="form-inline">
  <button class="btn btn-outline-success" type="button" routerLink="/dash">SELECCIONA OTRO JUEGO </button>
</form>

<div class="pie">
    <footer class="footer">
      <p style="color: white"  >TECNOLOGICO DE ESTUDIOS SUPERIORES DE ECATAPEC.</p>
      <p style="color: white"  >ING. EN SISTEMAS COMPUTACIONALES </p>
    </footer>
    </div>  