/*body {
    background-color: rgb(247, 246, 191);
}*/

body {
    background: url(assets/fondoburbuja.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}